# ECP
SERVER_ECP=
LOGIN_ECP=
PASSWORD_ECP=

# ID медицинской организации
ATTACH_LPU_ID=

# Код МО для ТФОМС
CODE_MO_TFOMS=

# TFOMS
SERVER_WEB_TFOMS=
LOGIN_WEB_TFOMS=
PASSWORD_WEB_TFOMS=

# TFOMS API
SERVER_TFOMS_API=
LOGIN_TFOMS_API=
PASSWORD_TFOMS_API=

# Пути к папкам
RPN_DIR=
RPN_IN="${RPN_DIR}/IN"
RPN_OUT="${RPN_DIR}/OUT"
ARCHIVE_DIR="${RPN_DIR}/archive"
